<div class="container-fluid bg1" style="background-color: rgb(67, 69, 70);height: 100px;">

  <div class="topnav" >
    <h1><span style="color: red;">Reactive</span><span style="color: white;">Form</span></h1>

    <a routerLink="/"> Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Login</a>
    <button class="btn my-2 my-sm-0 p1" type="submit">LogIn</button>&nbsp;&nbsp;
      <button class="btn my-2 my-sm-0 p1" type="submit" 
      style="background-color: black; color: white;">Create Account</button>
  
  </div>
</div>
<app-login></app-login>

<div class="container-fluid bg">
 


   
<footer>
  <div class="container">

      <i style='font-size:24px' class='fab'>&#xf082;</i>&nbsp;&nbsp;

      <i style='font-size:24px' class='fab'>&#xf08c;</i>&nbsp;&nbsp;

      <i style='font-size:24px' class='fab'>&#xf16d;</i>&nbsp;&nbsp;

      <i style='font-size:24px' class='fab'>&#xf081;</i>

  
  <div style="text-align: center;">
      <p>© COPYRIGHT 2021 <br><span style="color: blue;"> BhartiDevadhe.COM.</span> ALL RIGHTS RESERVED.</p>
  </div>

</div>
</footer>
